@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">bienvenu sur la plateforme de tournoi Jeux Vidéos</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Partciper au tournoi de vos jeux vidéos favoris et devenez le meilleur joueur</a>.</p>
</div>
