@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur la plateforme de tournoi Jeux Vidéos</h1>
    <p>Partciper au tournoi de vos jeux vidéos favoris et devenez le meilleur joueur.</p>
</div>
